<form class="form-search">
<button ng-click="query='All'; reset()" type="submit" class="btn">All items</button>
<button ng-click="query=''; reset()" type="submit" class="btn">Items for today</button>
</form>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>
            Group
        </th>
        <th>
            Text
        </th>
        <th>
            Created
        </th>
        <th>
            Last Remind
        </th>
        <th>
            Next Remind
        </th>
        <th>
            <a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" id="item_{{item.QuoteId}}">
            <td>
                {{item.Group}}
            </td>
            <td>
                {{item.Text}}
            </td>
            <td>
                {{item.Created|date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{item.LastRemind|date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{item.NextRemind|date:'dd/MM/yyyy'}}
            </td>
            <td>
                <button ng-click="knowIt()" class="btn">Know it!</button>
                <button ng-click="forget()" class="btn">Forgot</button>
                <a href="#/edit/{{item.QuoteId}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-click="delete()"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
    </tbody>
</table>
