<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>
            Group
        </th>
        <th>
            Text
        </th>
        <th>
            Created
        </th>
        <th>
            Last Remind
        </th>
        <th>
            Next Remind
        </th>
        <th>
            <a href="#/new" title="Add"><i class="glyphicon glyphicon-plus-sign"></i></a>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" id="item_{{item.QuoteId}}">
            <td>
                {{item.Group}}
            </td>
            <td>
                {{item.Text}}
            </td>
            <td>
                {{item.Created|date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{item.LastRemind|date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{item.NextRemind|date:'dd/MM/yyyy'}}
            </td>
            <td>
                <button ng-click="knowIt()" class="btn">Know it!</button>
                <button ng-click="forget()" class="btn">Forgot</button>
                <a href="#/edit/{{item.QuoteId}}" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-click="delete()" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
    </tbody>
</table>
