<form name="form" class="form-horizontal">
    <div class="control-group" ng-class="{error: form.Group.$invalid}">
        <label class="control-label" for="Group">Group</label>
        <div class="controls">
            <input type="text" ng-model="item.Group" id="Group" />
        </div>
    </div>

    <div class="control-group" ng-class="{error: form.Text.$invalid}">
        <label class="control-label" for="Text">Text</label>
        <div class="controls">
            <input type="text" ng-model="item.Text" id="Text" style="width: 700px;" />
        </div>
    </div>

    <div class="control-group" ng-class="{error: form.Created.$invalid}">
        <label class="control-label" for="Created">Created</label>
        <div class="controls">
            <input type="text" ng-model="item.Created" id="Created" />
        </div>
    </div>

    <div class="control-group" ng-class="{error: form.LastRemind.$invalid}">
        <label class="control-label" for="LastRemind">LastRemind</label>
        <div class="controls">
            <input type="text" ng-model="item.LastRemind" id="LastRemind" />
        </div>
    </div>

    <div class="control-group" ng-class="{error: form.NextRemind.$invalid}">
        <label class="control-label" for="NextRemind">NextRemind</label>
        <div class="controls">
            <input type="text" ng-model="item.NextRemind" id="NextRemind" />
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" ng-click="save()">
            Submit
        </button>
        <a href="#/" class="btn">Cancel</a>
    </div>
</form>
