# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

QuoteReminder/bin/Antlr3.Runtime.dll
QuoteReminder/bin/EntityFramework.dll
QuoteReminder/bin/EntityFramework.xml
QuoteReminder/bin/Microsoft.Web.Infrastructure.dll
QuoteReminder/bin/Newtonsoft.Json.dll
QuoteReminder/bin/Newtonsoft.Json.xml
QuoteReminder/bin/QuoteReminder.dll
QuoteReminder/bin/QuoteReminder.pdb
QuoteReminder/bin/System.Net.Http.dll
QuoteReminder/bin/System.Net.Http.Formatting.dll
QuoteReminder/bin/System.Net.Http.Formatting.xml
QuoteReminder/bin/System.Net.Http.WebRequest.dll
QuoteReminder/bin/System.Net.Http.WebRequest.xml
QuoteReminder/bin/System.Net.Http.xml
QuoteReminder/bin/System.Web.Helpers.dll
QuoteReminder/bin/System.Web.Helpers.xml
QuoteReminder/bin/System.Web.Http.dll
QuoteReminder/bin/System.Web.Http.WebHost.dll
QuoteReminder/bin/System.Web.Http.WebHost.xml
QuoteReminder/bin/System.Web.Http.xml
QuoteReminder/bin/System.Web.Mvc.dll
QuoteReminder/bin/System.Web.Mvc.xml
QuoteReminder/bin/System.Web.Optimization.dll
QuoteReminder/bin/System.Web.Providers.dll
QuoteReminder/bin/System.Web.Razor.dll
QuoteReminder/bin/System.Web.Razor.xml
QuoteReminder/bin/System.Web.WebPages.Deployment.dll
QuoteReminder/bin/System.Web.WebPages.Deployment.xml
QuoteReminder/bin/System.Web.WebPages.dll
QuoteReminder/bin/System.Web.WebPages.Razor.dll
QuoteReminder/bin/System.Web.WebPages.Razor.xml
QuoteReminder/bin/System.Web.WebPages.xml
QuoteReminder/bin/WebGrease.dll
QuoteReminder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QuoteReminder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuoteReminder/obj/Debug/QuoteReminder.csproj.FileListAbsolute.txt
QuoteReminder/obj/Debug/QuoteReminder.csproj.GenerateResource.Cache
QuoteReminder/obj/Debug/QuoteReminder.csprojResolveAssemblyReference.cache
QuoteReminder/obj/Debug/QuoteReminder.dll
QuoteReminder/obj/Debug/QuoteReminder.Migrations.CreateMaxLength.resources
QuoteReminder/obj/Debug/QuoteReminder.Migrations.InitialCreate.resources
QuoteReminder/obj/Debug/QuoteReminder.pdb
QuoteReminder.suo