<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="QuoteReminderContext"
         connectionString="Server=dfc0c9ff-c3a0-4ef2-b0f1-a360008aa653.sqlserver.sequelizer.com;Database=dbdfc0c9ffc3a04ef2b0f1a360008aa653;User ID=laosdpprfauykglo;Password=8KEBoA62CyZFhZ8BJsUvQvGnSuvFRDC338XMRJyaePpQUdHuctwgDfZKcrS3fyi7;" />
  </connectionStrings>
</configuration>

  